body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat-black-900', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat';
  font-weight: 500;
}

.navbar{
  padding: 0 0 3.5rem;
}

/* navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

.nav-link:hover{
  text-decoration: underline;
}

.btn{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 30px;
}

#features{
   padding: 7%;
   text-align: center;
}

.feature-container{
  padding-left:50px;
  padding-right: 50px;
}

.feature-icon{
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 10px;
}

.feature-icon:hover{
  color:#ff4c68;
}


h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

p{
  color: #8f8f8f;
}

#testimonials{
      background-color: #ef8172;
      color: #fff;
      text-align: center;
}
